<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Load this if not working: <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" type="text/javascript"></script> -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Jay Vee | HOME</title>
        <link href= "/public/assets/stylesheets/arrows-and-explore.css" rel="stylesheet" type="text/css">
        <link href= "/public/assets/stylesheets/division-page.css" rel="stylesheet" type="text/css">
        <link href= "/public/assets/stylesheets/index-page.css" rel="stylesheet" type="text/css">
        <link href= "/public/assets/stylesheets/init-and-grid.css" rel="stylesheet" type="text/css">
        <link href= "/public/assets/stylesheets/loading-screen.css" rel="stylesheet" type="text/css">
        <link href= "/public/assets/stylesheets/logo-and-movingbar.css" rel="stylesheet" type="text/css">
        <link href= "/public/assets/stylesheets/selection-boxes.css" rel="stylesheet" type="text/css">
        <script src="https://code.jquery.com/jquery-1.12.1.js" type="text/javascript"></script>
        <script src="/public/assets/functions/funsArrowsAndExplore.js" type="text/javascript"></script>
        <script src="/public/assets/functions/funsButtons.js" type="text/javascript"></script>
        <script src="/public/assets/functions/funsColors.js" type="text/javascript"></script>
        <script src="/public/assets/functions/funsHelpers.js" type="text/javascript"></script>
        <script src="/public/assets/functions/funsIndexPage.js" type="text/javascript"></script>
        <script src="/public/assets/functions/funsPageSwitch.js" type="text/javascript"></script>
        <script src="/public/assets/functions/funsSelectionBoxes.js" type="text/javascript"></script>
        <script src="/public/assets/scripts/lottie.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="grid-container">
            <div class="loadingscreen">
                <div class="loadingscreenText">
                    0%
                </div>
            </div>
            
            <!--  .................................................................................... -->
            <!--  .................................................................................... -->
            <!--  GC0: FRONT PAGE / LANDING PAGE -->
            <!--  .................................................................................... -->
            <!--  .................................................................................... -->
            
            <div class="GC0 title">
                <div class="h1title">
                    <%= structureData[0].indexTitle %>
                </div>
                <div class="pintro">
                    <%= structureData[0].indexIntro %>
                </div>
            </div>
            <div class="GC0 butSocials">
                <div class="butSocial bS0"></div>
                <div class="butSocial bS1"></div>
                <div class="butSocial bS2"></div>
                <div class="butSocial bS3"></div>
            </div>
            <div class="GC0 butOptions">
                <div class="butOption bO5" id="bO5">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
                        viewBox="0 0 100 100"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Ebene_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer"/>
                        <path class="butOptionIcon bOI5" d="M78 73c-14,14 -37,14 -51,0 -14,-14 -14,-37 0,-51 2,-2 5,-4 7,-6 -8,14 -6,32 6,44 12,12 30,14 44,6 -2,3 -3,5 -6,7z"/>
                        </g>
                    </svg>
                </div>
                <div class="butOption bO6" id="bO6">
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
                        viewBox="0 0 100 100"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Ebene_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer"/>
                        <path class="butOptionIcon bOI6" d="M50 40c6,0 10,4 10,10 0,6 -4,10 -10,10 -6,0 -10,-4 -10,-10 0,-6 4,-10 10,-10z"/>
                        <path class="butOptionIcon bOI6" d="M10 50l0 0c0,-1 1,-2 2,-2l20 0c1,0 2,1 2,2l0 0c0,1 -1,2 -2,2l-20 0c-1,0 -2,-1 -2,-2z"/>
                        <path class="butOptionIcon bOI6" d="M65 50l0 0c0,-1 1,-2 2,-2l20 0c1,0 2,1 2,2l0 0c0,1 -1,2 -2,2l-20 0c-1,0 -2,-1 -2,-2z"/>
                        <path class="butOptionIcon bOI6" d="M22 78l0 0c-1,-1 -1,-3 0,-4l14 -14c1,-1 3,-1 4,0l0 0c1,1 1,3 0,4l-14 14c-1,1 -3,1 -4,0z"/>
                        <path class="butOptionIcon bOI6" d="M61 39l0 0c-1,-1 -1,-3 0,-4l14 -14c1,-1 3,-1 4,0l0 0c1,1 1,3 0,4l-14 14c-1,1 -3,1 -4,0z"/>
                        <path class="butOptionIcon bOI6" d="M50 90l0 0c-1,0 -2,-1 -2,-2l0 -20c0,-1 1,-2 2,-2l0 0c1,0 2,1 2,2l0 20c0,1 -1,2 -2,2z"/>
                        <path class="butOptionIcon bOI6" d="M50 35l0 0c-1,0 -2,-1 -2,-2l0 -20c0,-1 1,-2 2,-2l0 0c1,0 2,1 2,2l0 20c0,1 -1,2 -2,2z"/>
                        <path class="butOptionIcon bOI6" d="M78 78l0 0c-1,1 -3,1 -4,0l-14 -14c-1,-1 -1,-3 0,-4l0 0c1,-1 3,-1 4,0l14 14c1,1 1,3 0,4z"/>
                        <path class="butOptionIcon bOI6" d="M40 39l0 0c-1,1 -3,1 -4,0l-14 -14c-1,-1 -1,-3 0,-4l0 0c1,-1 3,-1 4,0l14 14c1,1 1,3 0,4z"/>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="logo" id="logo">
                <svg class ="logo-svg" id="logo-svg" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="539px" height="2000px" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
                    viewBox="0 0 539 2000"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Ebene_x0020_1">
                        <metadata id="CorelCorpID_0Corel-Layer"/>
                        <g id="_491068632">
                            <path id="logo-svg-J" fill-rule="nonzero" d="M81 0l387 0c39,0 71,32 71,71l0 1043c0,39 -32,71 -71,71l-386 0 -2 0 1 0 -1 0c-42,0 -74,-34 -74,-75l0 -153c0,-41 32,-74 73,-74l4 0c41,0 74,33 74,74l0 50c0,15 12,27 27,27l178 0c15,0 27,-12 27,-27l0 -829c0,-15 -12,-27 -27,-27l-280 0c-42,0 -75,-34 -75,-75l0 0c0,-42 34,-75 75,-75z"/>
                            <path id="logo-svg-V" fill-rule="nonzero" d="M139 1302l118 336c2,6 7,9 13,9 6,0 11,-4 13,-9l117 -336c10,-29 36,-48 67,-48l1 0c24,0 44,11 58,30 14,19 17,42 9,64l-214 615c-8,22 -27,36 -50,36 -23,0 -43,-14 -50,-36l-215 -615c-8,-22 -5,-45 9,-64 14,-19 34,-30 58,-30l1 0c31,0 57,18 67,47z"/>
                        </g>
                    </g>
                </svg>
            </div>
            <div class="movingbar-container">
                <div class="movingbar" id="movingbar"></div>
            </div>
            <div class="GC0 menu">
                <h2 class="h2menu m0" id="h2menu0">
                    <%= structureData[0].indexMenu[0].divisionTitle %>
                </h2>
                <h2 class="h2menu m1" id="h2menu1">
                    <%= structureData[0].indexMenu[1].divisionTitle %>
                </h2>
                <h2 class="h2menu m2" id="h2menu2">
                    <%= structureData[0].indexMenu[2].divisionTitle %>
                </h2>
                <h2 class="h2menu m3" id="h2menu3">
                    <%= structureData[0].indexMenu[3].divisionTitle %>
                </h2>
            </div>
            <div class="GC0 explore" id="explore">
                <div class="exploreArrowDiv" id="exploreArrowDiv">
                    <svg  class="exploreArrow" id="exploreArrow"  xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
                        viewBox="-50 -250 300 1500"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Ebene_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"/>
                            <polygon id="exploreArrowPolygon" class="exploreArrowPolygon" stroke-width="0" stroke="black" points="0,0 57,0 200,500 57,1000 0,1000 143,500 "/>
                        </g>
                    </svg>
                </div>
                <div class="exploreTextDiv" id="exploreTextDiv">
                    <div class="exploreText" id="exploreText">
                        START <br> TOUR
                    </div>
                </div>
            </div>
            
            <!--  .................................................................................... -->
            <!--  .................................................................................... -->
            <!--  GC1: SUBMENU 1 -->
            <!--  .................................................................................... -->
            <!--  .................................................................................... -->
            
            <div class="GC1 divTitle" id="GC1-title">
                <h1 class="divTitleText" id="GC1-title-text">
                    <%= structureData[0].indexMenu[0].divisionTitle %>
                </h1>
            </div>
            <div class="GC1 divIntro" id="GC1-intro">
                <p class="divIntroText" id="GC1-intro-text">
                    <%= structureData[0].indexMenu[0].divisionIntro %>
                </p>
            </div>
            <div class="GC1 divAnimationContainer" id="GC1-animation-container">
                <div class="divAnimation" id="GC1-animation">
                    <!-- EMPTY CONTAINER FOR LOTTIE ANIMATION -->
                </div>
            </div>
            <div class="GC1 divButtonContainer" id="GC1-button-container">
                <div class="divButton" id="GC1-button-1">
                    <p class="divButtonText" id="GC1-button-1-text">
                        PORTFOLIO
                    </p>
                </div>
                <div class="divButton" id="GC1-button-2">
                    <p class="divButtonText" id="GC1-button-2-text">
                        OFFERS
                    </p>
                </div>
            </div>
            <div class="GC1 arrows" id="GC1-arrows">
                <div class="arrowRightContainer" id="GC1-arrowRight-container">
                    <svg  class="arrowRight" id="GC1-arrowRight"  xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
                        viewBox="-50 -250 300 1500"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Ebene_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"/>
                            <polygon id="GC1-arrowRight-Polygon" class="arrowRightPolygon" stroke-width="0" stroke="black" points="0,0 57,0 200,500 57,1000 0,1000 143,500 "/>
                        </g>
                    </svg>
                </div>
                <div class="arrowLeftContainer" id="GC1-arrowLeft-container">
                    <svg  class="arrowLeft" id="GC1-arrowLeft"  xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
                        viewBox="-50 -250 300 1500"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Ebene_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"/>
                            <polygon id="GC1-arrowLeft-Polygon" class="arrowLeftPolygon" stroke-width="0" stroke="black" points="0,0 57,0 200,500 57,1000 0,1000 143,500 "/>
                        </g>
                    </svg>
                </div>
            </div>

            <!--  .................................................................................... -->
            <!--  .................................................................................... -->
            <!--  GC2: SUBMENU 2 -->
            <!--  .................................................................................... -->
            <!--  .................................................................................... -->
            
            <div class="GC2 divTitle" id="GC2-title">
                <h1 class="divTitleText" id="GC2-title-text">
                    <%= structureData[0].indexMenu[1].divisionTitle %>
                </h1>
                <p class="divIntroText" id="GC2-intro-text">
                    <%= structureData[0].indexMenu[1].divisionIntro %>
                </p>
            </div>
            <div class="GC2 divButtonContainer" id="GC2-button-container">
                <div class="divButton divBut1" id="GC2-button-1">
                    <p class="divButtonText" id="GC2-button-1-text">
                        PORTFOLIO
                    </p>
                </div>
            </div>
            <div class="GC2 arrows" id="GC2-arrows">
                <div class="arrowRightContainer" id="GC2-arrowRight-container">
                    <svg  class="arrowRight" id="GC2-arrowRight"  xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
                        viewBox="-50 -250 300 1500"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Ebene_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"/>
                            <polygon id="GC2-arrowRight-Polygon" class="arrowRightPolygon" stroke-width="0" stroke="black" points="0,0 57,0 200,500 57,1000 0,1000 143,500 "/>
                        </g>
                    </svg>
                </div>
                <div class="arrowLeftContainer" id="GC2-arrowLeft-container">
                    <svg  class="arrowLeft" id="GC2-arrowLeft"  xmlns="http://www.w3.org/2000/svg" xml:space="preserve" version="1.1" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd"
                        viewBox="-50 -250 300 1500"
                        xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Ebene_x0020_1">
                            <metadata id="CorelCorpID_0Corel-Layer"/>
                            <polygon id="GC2-arrowLeft-Polygon" class="arrowLeftPolygon" stroke-width="0" stroke="black" points="0,0 57,0 200,500 57,1000 0,1000 143,500 "/>
                        </g>
                    </svg>
                </div>
            </div>
                            
        </div>
        <script>
            // Prepare animation
            var xStart = window.innerWidth/4;
            window.firstLoadIndexAnimation(reverseFlag=true);
            document.addEventListener('DOMContentLoaded',  async function () {
                // Initialize grouped classes CSS
                $('.GC0').show();
                $('.GC1').hide();
                $('.GC2').hide();
                $('.GC3').hide();
                // Load color scheme
                const colorsJSON = await $.getJSON('/public/assets/json/colorscheme.json');
                // Initialize color theme
                var colors = window.loadColorTheme(colorsJSON, "Light");
                window.initializeCSSColorTheme(colors);
                // Load lottie animations using dynamic variable assignments
                var anims = [];
                var lottieAnim1 = bodymovin.loadAnimation({
                    path: `./public/assets/icons/anims/anim1.json`,
                    container: document.getElementById(`GC1-animation`),
                    renderer: 'svg',
                    autoplay: false,
                    loop: false
                });
                // Resolve promise when DOM of all animations loaded (specify async function to avoid too many callbacks)
                lottieAnim1.addEventListener("DOMLoaded", async () => {
                    initializeLottieAnimation(1, colors);
                    anims.push(lottieAnim1);
                    console.log(anims);           

                    /* ----------------------------------------------------------------------
                    ------------------- LOADING SCREEN CODE STARTS HERE ---------------------
                    ---------------------------------------------------------------------- */ 

                    // Get the total number of resources on the page
                    var totalResources = $('*');
                    // Set the initial number of resources loaded to 0
                    var resourcesLoaded = 0;
                    // Set counters for animation
                    var percentageLoaded;
                    // For each resource that has to be loaded...
                    $('*').each(async function () {
                        // ...check if resource exists in the DOM, i.e. has been loaded.
                        // (If not, length = 0)
                        if($(this).length) {                            
                            resourcesLoaded++;
                            percentageLoaded = resourcesLoaded/totalResources.length*100;
                            $('.loadingscreenText').text(`${percentageLoaded}%`);
                            if (resourcesLoaded === totalResources.length) {
                                // Fade out loading screen and delete for index page to show
                                $('.loadingscreenLogo').stop(true);
                                $('.loadingscreenLogo').fadeOut(1000, ()=>{});
                                $('.loadingscreenText').fadeOut(1000, ()=>{});
                                window.firstLoadIndexAnimation(reverseFlag=false);

                                /* ----------------------------------------------------------------------
                                ---------------------- INDEX PAGE CODE STARTS HERE ----------------------
                                ---------------------------------------------------------------------- */

                                // MENU ANIMATIONS
                                // -----------------------------------------------------------------------
                                // -----------------------------------------------------------------------
                                $('#h2menu0').mouseenter(() => {
                                    window.hoverMenupoint(0, 500, colors, reverseFlag=false);
                                });
                                $('#h2menu0').click(() => {
                                    // Click interaction code HERE
                                    // !!! ALSO UPDATE IN "changeSubmenuAnimation" FUNCTION CODE IN functions.js
                                });
                                $('#h2menu0').mouseleave(() => {
                                    window.hoverMenupoint(0, 500, colors, reverseFlag=true);
                                });
                                $('#h2menu1').mouseenter(() => {
                                    window.hoverMenupoint(1, 500, colors, reverseFlag=false);
                                });
                                $('#h2menu1').click(() => {
                                    // Click interaction code HERE
                                    // !!! ALSO UPDATE IN "changeSubmenuAnimation" FUNCTION CODE IN functions.js
                                });
                                $('#h2menu1').mouseleave(() => {
                                    window.hoverMenupoint(1, 500, colors, reverseFlag=true);
                                });
                                $('#h2menu2').mouseenter(() => {
                                    window.hoverMenupoint(2, 500, colors, reverseFlag=false);
                                });
                                $('#h2menu2').click(() => {
                                    // Click interaction code HERE
                                    // !!! ALSO UPDATE IN "changeSubmenuAnimation" FUNCTION CODE IN functions.js
                                });
                                $('#h2menu2').mouseleave(() => {
                                    window.hoverMenupoint(2, 500, colors, reverseFlag=true);
                                });
                                $('#h2menu3').mouseenter(() => {
                                    window.hoverMenupoint(3, 500, colors, reverseFlag=false);
                                });
                                $('#h2menu3').click(() => {
                                    // Click interaction code HERE
                                    // !!! ALSO UPDATE IN "changeSubmenuAnimation" FUNCTION CODE IN functions.js
                                });
                                $('#h2menu3').mouseleave(() => {
                                    window.hoverMenupoint(3, 500, colors, reverseFlag=true);
                                });

                                // EXPLORE ANIMATIONS
                                // -----------------------------------------------------------------------
                                // -----------------------------------------------------------------------
                                const initialFontWeight = parseInt($(".exploreText").css("font-weight"));
                                const initialStrokeWidth = parseInt($(".exploreArrowPolygon").css("stroke-width"));
                                $('#explore').mouseenter(() => {
                                    window.hoverExplore(250, colors, initialFontWeight, initialStrokeWidth, reverseFlag=false);
                                });
                                $('#explore').click(() => {
                                    window.changeSubmenuAnimation(0, 1, colors, anims, true, false);
                                });
                                $('#explore').mouseleave(() => {
                                    window.hoverExplore(250, colors, initialFontWeight, initialStrokeWidth, reverseFlag=true);
                                });

                                // ARROW ANIMATIONS (on("click")-INTERACTIONS DEFINED RECURSIVELY IN changeSubmenuAnimation)
                                // -----------------------------------------------------------------------
                                // -----------------------------------------------------------------------
                                const initialStrokeWidthArrow = parseInt($(".arrowLeftPolygon").css("stroke-width"));
                                $('#GC1-arrowRight-container').mouseenter(() => {
                                    window.hoverArrow(250, colors, initialStrokeWidthArrow, "Right", reverseFlag=false);
                                });
                                $('#GC1-arrowRight-container').mouseleave(() => {
                                    window.hoverArrow(250, colors, initialStrokeWidthArrow, "Right", reverseFlag=true);
                                });
                                $('#GC1-arrowLeft-container').mouseenter(() => {
                                    window.hoverArrow(250, colors, initialStrokeWidthArrow, "Left", reverseFlag=false);
                                });
                                $('#GC1-arrowLeft-container').mouseleave(() => {
                                    window.hoverArrow(250, colors, initialStrokeWidthArrow, "Left", reverseFlag=true);
                                });

                                // OPTION BOXES ANIMATIONS
                                // -----------------------------------------------------------------------
                                // -----------------------------------------------------------------------
                                const initialFlexBasis = 3.5;         // Value of flex basis as set in CSS in vh => Gets converted to px inside function arguments

                                $('#bO5').mouseenter(() => {
                                    // Reset all ongoing animations of selection boxes other than this
                                    for(var i=0; i<=$('.butOptions').children().length-1; i++) {
                                        if(i==5) {
                                            continue
                                        } else {
                                            window.resetSelectionBox($(`#bO${i}`), colors, initialFlexBasis*$(window).height() / 100);
                                        }
                                    };
                                    // Then expand this selection box
                                    window.expandSelectionBox($('#bO5'), "CUSTOMIZE THEME", "DARK", 17, 300, colors, initialFlexBasis*$(window).height() / 100);
                                });
                                $('#bO5').click(() => {
                                    // Change color scheme
                                    colors = window.clickThemeChange($('#bO5'), 300, colorsJSON, "Dark", initialFlexBasis*$(window).height() / 100);
                                    // Initialize additional CSS
                                    for(let i=0; i<anims.length; i++) {
                                        initializeLottieAnimation(i+1, colors);
                                    }
                                })
                                $('#bO5').mouseleave(() => {
                                    window.contractSelectionBox($('#bO5'), 300, colors, initialFlexBasis*$(window).height() / 100);
                                })

                                $('#bO6').mouseenter(() => {
                                    // Reset all ongoing animations of selection boxes other than this
                                    for(var i=0; i<=$('.butOptions').children().length-1; i++) {
                                        if(i==6) {
                                            continue
                                        } else {
                                            window.resetSelectionBox($(`#bO${i}`), colors, initialFlexBasis*$(window).height() / 100);
                                        }
                                    };
                                    // Then expand this selection box
                                    window.expandSelectionBox($('#bO6'), "CUSTOMIZE THEME", "LIGHT", 17, 300, colors, initialFlexBasis*$(window).height() / 100);
                                });
                                $('#bO6').click(() => {
                                    // Change color scheme
                                    colors = window.clickThemeChange($('#bO6'), 300, colorsJSON, "Light", initialFlexBasis*$(window).height() / 100);
                                    // Initialize additional CSS
                                    for(let i=0; i<anims.length; i++) {
                                        initializeLottieAnimation(i+1, colors);
                                    }
                                })
                                $('#bO6').mouseleave(() => {
                                    window.contractSelectionBox($('#bO6'), 300, colors, initialFlexBasis*$(window).height() / 100);
                                })

                                // BUTTON INTERACTIONS
                                // -----------------------------------------------------------------------
                                // -----------------------------------------------------------------------
                                $('#GC1-button-1').mouseenter(() => {
                                    window.hoverButton($('#GC1-button-1'), colors, false);
                                });
                                $('#GC1-button-1').mouseleave(() => {
                                    window.hoverButton($('#GC1-button-1'), colors, true);
                                })
                                $('#GC1-button-2').mouseenter(() => {
                                    window.hoverButton($('#GC1-button-2'), colors, false);
                                });
                                $('#GC1-button-2').mouseleave(() => {
                                    window.hoverButton($('#GC1-button-2'), colors, true);
                                });

                                // GENERAL / ADDITIONAL
                                // -----------------------------------------------------------------------
                                // -----------------------------------------------------------------------
                                // If window gets resized, resize all the boxes using the reset function:
                                $(window).resize(function() {
                                    for(var i=0; i<=$('.butOptions').children().length-1; i++) {
                                        window.resetSelectionBox($(`#bO${i}`), colors, initialFlexBasis*$(window).height() / 100);
                                    }
                                });

                            }
                        };
                    });
                });
            })
        </script>
    </body>